footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 20vh;
    width: 100%;
    background-color: rgb(233, 233, 233);
    color: rgb(151, 151, 151);
}