@use '../vars' as vars;
#cartView {
    min-height: 90vh;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    padding: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#productsView {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#productCartView {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: rgb(237, 237, 237);
    color: vars.$fontBlack;
    img {
        height: 80px;
        justify-self: center;
        align-self: center;
        object-fit: contain;
    }
}

#productCartViewInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    h2 {
        font-size: 20px;
        font-weight: 500;
    }
    h3 {
        font-weight: 400;
        font-size: 15px;
    }
    #quantitySelect {
        display: flex;
        align-items: center;
        gap: 9px;
        flex-direction: row;
        p {
            font-weight: 500;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(217, 217, 217);
            padding: 0px 8px;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

#subtotal {
    display: flex;
    align-items: center;
    justify-content: end;
    h3 {
        font-weight: 500;
    }
    button {
        background-color: rgb(175, 42, 42);
        padding: 10px;
        border-radius: 5px;
    }
}

#purchaseInfo {
    padding: 0px 40px;
    h2 {
        color: vars.$fontBlack;
        font-weight: 800;
        font-size: 40px;
    }
}