@use '../vars' as vars;
#itemDetail {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: 90vh;
}

#itemDetailText {
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    h1 {
        font-size: 40px;
        font-weight: 700;
        color: vars.$fontBlack;
    }
    h2 {
        color: vars.$fontGrey;
        font-size: 15px;
        font-weight: 300;
    }
    h3 {
        color: vars.$fontBlack;
        font-size: 20px;
        font-weight: 400;
    }
    h4 {
        color: vars.$fontGrey;
        font-size: 15px;
        font-weight: 300;
    }
    ul {
        list-style-type: none;
        li {
            font-family: vars.$fontRoboto;
            color: vars.$fontGrey;
            font-size: 15px;
            font-weight: 300;
            text-decoration: underline;
        }
    }
    h5 {
        color: vars.$fontBlack;
        font-size: 30px;
        font-weight: 700;
    }
    
}

#images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    position: relative;
    padding: 0px 40px;
}

.zoom-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 30px;
    cursor: zoom-in;
  }
  
  .zoom-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform .7s ease, background-color .7s ;
    &:hover {
        background-color: #efefef;
    }
  }
  
  .zoom-container:hover .zoom-image {
    transform: scale(3);
  }

#radioGroup {
    height: 5vh;
    margin-top: 30px;
}

#addToCartContainer {
    font-family: vars.$fontRoboto;
    color: vars.$fontBlack;
    h3 {
        text-align: center;
        padding: 20px 0px;
        border: 1px solid vars.$fontBlack;
        font-size: 16px;
        transition: .2s;
        &:hover {
            cursor: pointer;
        }
        &:active {
            background-color: rgb(206, 206, 206);
        }
        &:nth-child(2) {
            cursor: auto;
            &:active {
                background-color: #F5F5F5;
            }
        }
    }
}